* {
  margin: 0;
  padding: 0;
  color: #333333;
}

body {
  font-family: "Karla", serif;
  font-size: 16px;
  margin: 3rem 0;
}

h1,
h2,
h3 {
  font-family: "Markazi";
}

h1 {
  font-size: 40px !important;
}

h3 {
  font-size: 32px !important;
}

p {
  margin: 0px !important;
}

.title-primary {
  color: #f4ce14;
}

.title-secondary {
  color: #edefee;
}

.title-prim {
  color: #f4ce14;
}

.text-second {
  color: #edefee !important;
}

.btn-primary {
  margin: 20px 0;
  color: #333333 !important;
  font-weight: bold !important;
  background-color: #f4ce14 !important;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  height: 57px;
  width: 100vw;
  margin: 16px 0px;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style: none;
  font-weight: bold;
  gap: 20px;
  margin: auto 0;
}

nav li,
a {
  flex: 1;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  color: #333333 !important;
}

nav li a:link {
  text-decoration: none;
  transition: all 0.5;
}

nav li a:hover {
  text-decoration: underline;
  font-size: 18px;
}

nav li a:active {
  text-decoration: underline;
  font-size: 18px;
}

section,
footer {
  display: flex;
  margin: 20px 0px !important;
  max-width: unset !important;
  padding: 10px 10% !important;
}

section.container-green {
  height: 375px;
  background-color: #495e57;
  padding: 0 30% 0 10%;
  gap: 20px;
}

section.container-green.errors {
  height: 500px;
}

.container {
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
}

button {
  width: 200px !important;
  max-width: 200px !important;
}

.row {
  flex-direction: row;
  flex-wrap: nowrap !important;
}

.heading {
  justify-content: space-between;
}

#book-table .img-container {
  margin-top: 150px;
  width: 397px;
  height: 383px;
  border-radius: 20px;
  overflow: hidden;
}

#book-table img {
  width: 100%;
  height: auto;
  object-fit: contain; /* Ensures the whole image is visible within the container */
}

#book-table .location-options {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#book-table .location-box {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
  flex-grow: 1;
  color: #333;
  background-color: #f0f0f0;
}

#book-table .location-box:hover {
  background-color: #f4ce14;
  transform: scale(1.05);
}

#book-table .location-box.selected {
  background-color: #f4ce14;
  color: #333333;
  border-color: #333333;
  transform: scale(1.05);
}

#specials {
  margin-top: 6rem !important;
}

#specials .row * {
  flex-shrink: unset;
}

#testimonials .row {
  flex: 0 1 50%;
}

#description .img-container {
  display: flex;
  width: 200px;
  height: 250px;
  overflow: hidden;
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
}

#description img {
  width: auto;
  height: 100%;
  object-fit: fill; /* Ensures the whole image is visible within the container */
  object-position: center;
}

#description .offset-vertical {
  position: absolute;
  z-index: 2;
  margin-top: 150px;
}

#description .fixed {
  position: relative;
  z-index: 1;
  margin-left: 100px;
}

.card {
  margin: 0 20px;
}

footer {
  margin-top: 200px !important;
}

footer .title {
  font-weight: bold;
}

footer ul {
  list-style: none;
  padding: 10px 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#testimonials .card {
  max-height: 250px;
  min-width: 20%;
  padding: 0.5rem;
}
#testimonials .card .row{
  max-width: 90% !important;
}

#testimonials .card-text {
  font-size: 0.8rem;
}

#testimonials .card-img-side {
  border-radius: 50%;
}

#testimonials .card-profile {
  padding: 0;
  font-size: 0.8rem;
  font-weight: bold;
}

#testimonials .card-title {
  font-size: 1.2rem;
}
